<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}">
</head>
<body>
    <!-- vai ter o que é comum em todas as paginas -->
    <!-- cada pagina vai passar um trecho que é especifico nela -->
    <!-- definimos um fragmento, ou seja, o trecho que é específico para cada página -->
    <div layout:fragment="conteudo">
        <!-- cada pagina passa um e ele vai jogar o trecho pra cá -->
    </div>
</body>
</html>